@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-attachment:fixed;
    background: linear-gradient(135deg, rgb(228,52,100), rgb(60,99,172));
    /*background-color: rgb(60,99,172);*/
}
.container{
    max-width: 1000px;
    width: 100%;
    background-color: rgb(255,255,255);
    padding: 2% 2%;
    border-radius: 3vh;
}
.container .title{
    font-size: 30px;
    font-weight: 800;
    position: relative;
    padding-bottom: 4px;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 35px;
    background-color: rgb(228,52,100);
}
.container form .pet-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 0% 3% 0%;
}
form .pet-details .input-box{
    width: calc(100% / 2 - 3%);
    margin-top: 1%;
}
.pet-details .input-box .details{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 2%;
    display:block;
}
.pet-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 1.5vh;
    border: 2px solid rgb(130, 135, 139);
    padding-left: 2%;
    padding-right: 2%;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.pet-details .input-box input:focus,
.pet-details .input-box input:valid{
    border-color: rgb(228,52,100);
}
form .pet-details .select-box{
    width: calc(100% / 2 - 3%);
    margin-top: 1%;
}
.pet-details .select-box .details{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 2%;
    display:block;
}
.pet-details .select-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 1.5vh;
    border: 2px solid rgb(130, 135, 139);
    padding-left: 2%;
    padding-right: 2%;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}
.pet-details .select-box select:focus,
.pet-details .select-box select:valid{
    border-color: rgb(228,52,100);
}
form .button{
    height: 45px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
form .button input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1.5vh;
    color: rgb(228,52,100);
    background: rgb(255,255,255);
    outline: auto;
    outline-width: 2px;
    outline-color: rgb(228,52,100);
    transition: all 0.3s ease;
}
form .button input:hover{
    height: 100%;
    width: 100%;
    color: rgb(255,255,255);
    background: linear-gradient(135deg, rgb(228,52,100), rgb(60,99,172));
    outline: none;
    transition: all 0.3s ease;
}