@page
@model AccesibilidadModel
@{
    ViewData["Title"] = "Accesibilidad";
}

<div class="contenido">

    <div class="title-container">
        <h1>Accesibilidad</h1>
    </div> 
    <hr>
        <div class="empty-box">
            <p>Pawmi.com se compromete a proporcionar un sitio web que sea accesible para la audiencia más amplia posible,
                incluidas las personas con discapacidades, y que se ajuste a las mejores prácticas y criterios de accesibilidad web.
                Si tiene dificultades para acceder a la información en el sitio web, comuníquese con nosotros
                <a href="mailto:accesibilidad@pawmi.com">accesibilidad@pawmi.com</a> y háganos saber el problema que experimentó,
                el material al que intentó acceder, y su información de contacto, incluido su nombre, dirección de correo electrónico
                y número de teléfono.</p>
        </div>
    <hr>
</div>
