@page
@model PrivacidadModel
@{
    ViewData["Title"] = "Política de Privacidad";
}
<div class="contenido">

    <div class="title-container">
        <h1>Política de Privacidad</h1>
    </div> 
    <hr>
        <div class="empty-box">
            <p>Última actualización: 24 de enero de 2022</p>
            <br>
            <h2>1. Sobre nuestra Política de Privacidad</h2>
            <br>
            <p>Pawmi ("Pawmi", "Nosotros") respeta la privacidad de sus usuarios y socios ("Usuarios", "Usted"), y se 
            compromete a proteger la información que comparte con nosotros en relación con su uso de nuestros servicios y 
            nuestro sitio web, según los términos definidos en nuestros Términos y Condiciones.</p>
            <br>
            <p>Su uso del sitio web o los servicios implica la recopilación y el procesamiento de parte de su información 
            personal por parte de Pawmi, como se describe en esta Política de Privacidad. A menos que usted exija 
            explícitamente lo contrario y Pawmi lo apruebe por escrito, su uso del sitio web o de nuestros servicios, 
            así como su provisión activa de información personal, constituye su consentimiento a los términos establecidos 
            en esta política de privacidad, incluida la recopilación y el procesamiento de su información personal.</p>
            <br>
            <h2>2. Consentimiento</h2>
            <br>
            <p>2.1 Lea esta Política detenidamente antes de acceder al Sitio web o utilizar nuestros servicios, 
            porque al hacerlo, y como se mencionó anteriormente, acepta estar sujeto a los términos y condiciones 
            establecidos en esta Política, incluida la recopilación y el procesamiento de su Información personal. 
            Información (como se define a continuación).</p>
            <br>
            <p>2.2 Tenga en cuenta: no está obligado por ley a proporcionarnos ninguna información personal. 
            Por la presente, reconoce y acepta que nos proporciona información personal por su propia voluntad, 
            para los fines descritos en esta Política, y que podemos conservar dicha información de acuerdo con 
            esta Política y las leyes y regulaciones aplicables. No recopilamos ninguna Información personal de 
            usted o relacionada con usted sin su aprobación, que se obtiene, entre otras cosas, mediante su 
            aceptación activa de los TOS y esta Política de privacidad.</p>
            <br>
            <p>2.3. Cierta información que recopilamos, como Información de uso general (como se define a continuación),
            información del dispositivo, análisis, estadísticas o cualquier otro dato que nos permita brindar 
            nuestros servicios y mejorarlos, se recopila como parte de nuestro interés legítimo. Puede encontrar 
            una explicación más detallada a continuación, en la sección "Base legal".</p>
        </div>
    <hr>
</div>
