@page
@model TerminosModel
@{
    ViewData["Title"] = "Términos y Condiciones";
}
<div class="contenido">

    <div class="title-container">
        <h1>Términos y Condiciones</h1>
    </div> 
    <hr>
        <div class="empty-box">
            <h2>Aceptación de estos Términos de uso</h2>
            <br>
            <p>Estos términos de uso se celebran entre usted y el sitio Pawmi.com (también denominado 
            en el presente como "Pawmi", "Compañía", "nosotros", "nuestro" o "nosotros"). Los siguientes 
            términos y condiciones, junto con la Política de privacidad de Pawmi.com, rigen su acceso y uso
            del Sitio Pawmi.com, incluido cualquier contenido, funcionalidad, productos y servicios ofrecidos 
            en o a través del sitio Pawmi.com, ya sea como invitado o como usuario registrado.</p>
            <br>
            <p>Lea atentamente los Términos de uso antes de comenzar a utilizar el sitio Pawmi.com.</p>
            <br>
            <p>El sitio Pawmi.com (también conocido como el "Sitio", "Plataforma" o "Sitio") se ofrece y está 
            disponible para usuarios de 18 años de edad o más, que residen en Colombia. Al usar el Sitio, usted 
            declara y garantiza que es mayor de edad para formar un contrato vinculante con la Compañía y cumplir 
            con todos los requisitos de elegibilidad anteriores. Si no cumple con todos estos requisitos, no debe 
            acceder ni utilizar el Sitio.</p>
            <br>
            <p>Al acceder y/o usar el Sitio haciendo clic para aceptar o estar de acuerdo con los Términos de uso 
            cuando esta opción esté disponible para usted, usted acepta y acepta estar sujeto y cumplir con estos 
            Términos de uso y nuestra Política de privacidad. Si no desea aceptar estos Términos de uso o la 
            Política de privacidad, no debe acceder ni utilizar el Sitio.</p>

        </div>
    <hr>
</div>
